[Unit]
Description=Bluetooth speaker autoconnect
After=bluetooth.service pipewire-system.service
Requires=bluetooth.service

[Service]
EnvironmentFile=/etc/door-eye/bt-speaker.env
ExecStart=/usr/local/bin/autoconnect-bt-speaker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
