[Unit]
Description=Motion Detection Handler
After=rp-daemon.service

[Service]
EnvironmentFile=/etc/door-eye/screen.env
ExecStart=/usr/local/bin/handle-motion-sensor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
