[Unit]
Description=Update Door Eye OSD
BindsTo=show-door-screen.service
After=show-door-screen.service

[Service]
EnvironmentFile=/etc/door-eye/app.env
EnvironmentFile=/etc/door-eye/open-meteo.env
ExecStart=/usr/local/bin/update-door-eye-osd
RestartSec=1
Restart=always
